src/main/mule/reliclogs.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ad510d72-03ac-4894-ae9a-f81bf22e3d34" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="reliclogsFlow" doc:id="c85d0bf5-badb-432e-9a35-db8d69f1f827" >
		<http:listener doc:name="Listener" doc:id="1288ba40-058a-4990-965d-1985f6c36b96" config-ref="HTTP_Listener_config" path="/relic" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="0b0386a4-e607-4077-a968-471df3c2a9a8" message="#[output application/json --- payload]"/>
	</flow>
</mule>
